name: Mlflow CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  train-mlflow-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: mlflow-env
          environment-file: MLproject/conda.yaml
          python-version: 3.10
          auto-activate-base: false
          use-mamba: true

      - name: Verify environment
        run: |
          python --version
          pip --version
          mlflow --version

      - name: Run MLflow project
        env:
          MLFLOW_TRACKING_URI: file:./mlruns
        run: |
          mlflow run . \
            -P dataset=train_preprocessing.csv \
            -P n_iter=10 \
            -P cv=3

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns
